{#
/**
 * @file
 * Default theme implementation to display a slide.
 *
 * Available variables:
 * - label: The slide label
 *
 * @see template_preprocess_botanique_base_slide()
 */
#}

<div class="slide">
  <div class="slide--content" {% if image %}style="background-image: url('{{ image }}');"{% endif %}>
    <div class="inner">
      <h2>{{ label }}</h2>
    </div>
  </div>
</div>