/** Slideshow styles **/

#slideshow {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
}

#slideshow .slide {
    display: none;
    position: absolute;
    background-color: #333;
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

#slideshow .slide--content {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#slideshow .slide--content h2 {
    background: rgba(0,0,0,0.7);
    padding: 15px 35px;
}

#slideshow .slide:first-child {
    display: block;
}