{#
/**
 * @file
 * Default theme implementation for a queue list.
 *
 * Available variables:
 * - items: List of items
 *
 * @see template_preprocess_wkbe_queue_list()
 *
 * @ingroup themeable
 */
#}
{% for item in items %}
  {{ item }}
{% endfor %}