{#
/**
 * @file
 * Default theme implementation to display a slideshow node.
 *
 * Available variables:
 *
 * @see template_preprocess_node()
 */
#}

<div id="slideshow">
  {% for slide in slides %}
    {{ slide }}
  {% endfor %}
</div>